.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(216, 105, 142, 0.8);
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li button {
    background: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
}